@import "tailwindcss";

@font-face {
  font-family: 'NeonTubes';
  src: url('/fonts/NeonTubes.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');

.luxury-font {
  font-family: 'Balthazar', serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

